
.calltoaction{
  
margin: 20px;
padding: 20px;
background-image: url(../assets/imagenes/banners/img_section2.jpg);
background-size: cover;
background-position: center;
color: white;
text-align: center;

}

